

body
{ 
 	margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
} 
canvas
{ 
	display: block; vertical-align: bottom;
}

#particles-js
{ 
	position:absolute; 
	width: 100%; 
	height: 100%; 
	background-color: rgb(0,0,0,0.7); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
}



.loginbox{
	width: 320px;
	height: 420px;
	background: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box; 
	padding: 70px 30px;
	border-radius: 10px;
}


h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}


.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}


.loginbox input{
	width: 100%;
	margin-bottom: 20px; 
}


.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;
}


.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #000;
	font-size: 18px;
	border-radius: 20px;
}


.loginbox input[type="submit"]:hover
{
	 cursor: pointer;;
	 background: #ffc107;
	 color: #000;
}


.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: grey;
}


.loginbox a:hover
{
	color: #ffc107;
}


.user{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top : -50px;
	left: calc(50% - 50px);
}


